<% if errors.any? %>
  <div id="error_explanation">
    <h4 class="my-2" style="color: #842029;">
      <%= I18n.t("views.errors",
                 count: resource.errors.count)
      %>
    </h4>
    <% errors.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <%= message.full_message %>
      </div>
    <% end %>
  </div>
<% end %>
