<h1>Редактирование мероприятия</h1>

<%= render 'form' %>

<%= link_to 'Превью', @event %> |
<%= link_to 'Назад', events_path %>
<%= button_to 'Удалить', event_path(@event), class: 'btn btn-danger', method: :delete %>
