<%= content_tag 'div', '', class: 'bg-main',
                style: "background-image: url(#{image_path('main-bg.jpg')})" do %>
  <h1 class="banner-text"><%= t('views.events.index.title') %></h1>
<% end %>

<div class="buffer-both">
  <%= link_to I18n.t('views.events.index.create'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
