<%= form_for [@event, photo], data: { turbo: false }, html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { errors: photo.errors } %>

  <div class="form-group">
    <%= f.file_field :photo, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('views.photos.upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
