.event-info {
  position: relative;
  color: white;
  margin-bottom: 20px;
}

.event-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.event-description * {
  word-wrap: break-word;
  color: white;
}

.event-description a {
  text-transform: uppercase;
  color: #ffeaa9;
  font-size: 80%;
}

.event-description small {
  color: #e0e0e0;
}

.event-info-inner {
  background: rgba(0, 0, 0, 0.4);
  padding: 1em 0;
}

.event-map {
  margin: 20px 0;
  width: 100%;
  height: 400px;
}

.bg-main {
  position: relative;
  height: 15em;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .event-description h3{
    font-size: 1.3em;
  }
}
